# Capstone Webscrapping using BeautifulSoup

This notebook contains guidances & tasks on the data processing for the application

## background

(Please insert the background here )

## Requesting the Data and Creating a BeautifulSoup

Let's begin with requesting the web from the site with `get` method.

In [1]:
import requests

url_get = requests.get('https://www.coingecko.com/en/coins/ethereum/historical_data?start_date=2022-01-01&end_date=2022-12-30#panel')

In [2]:
#mengimport pandas dan matplotlib untuk menampilkan plot
import pandas as pd
import numpy as np
import matplotlib as plt

In [3]:
#mengecek versi pandas
pd.__version__

'1.5.2'

To visualize what exactly you get from the `request.get`, we can use .content so ee what we exactly get, in here i slice it so it won't make our screen full of the html we get from the page. You can delete the slicing if you want to see what we fully get.

In [4]:
#mengambil 500 bytes pertama dari konten yang didapat dari link web capstone
url_get.content[1:500]

b'!DOCTYPE html>\n<html lang="en">\n<head>\n<script src="/cdn-cgi/apps/head/gYtXOyllgyP3-Z2iKTP8rRWGBm4.js"></script><script async defer src="https://www.googleoptimize.com/optimize.js?id=GTM-W3CD992"></script>\n<meta charset="utf-8">\n<meta http-equiv="X-UA-Compatible" content="IE=edge">\n<meta name="viewport" content="width=device-width, initial-scale=1.0">\n<link rel="shortcut icon" href="/favicon.ico">\n<link type="application/opensearchdescription+xml" rel="search" href="/OpensearchDescription.xml" '

In [5]:
url_get

As we can see we get a very unstructured and complex html, which actually contains the codes needed to show the webpages on your web browser. But we as human still confused what and where we can use that piece of code, so here where we use the beautifulsoup. Beautiful soup class will result a beautifulsoup object. Beautiful Soup transforms a complex HTML document into a complex tree of Python objects. 

Let's make Beautiful soup object and feel free to explore the object here.

In [6]:
#mengimport beutifulsoup4
from bs4 import BeautifulSoup 

soup = BeautifulSoup(url_get.content,"html.parser")
print(type(soup))

<class 'bs4.BeautifulSoup'>

In [7]:
#mengecek fungsi beautifulsoup
print(soup.prettify()[:500])

<!DOCTYPE html>
<html lang="en">
 <head>
  <script src="/cdn-cgi/apps/head/gYtXOyllgyP3-Z2iKTP8rRWGBm4.js">
  </script>
  <script async="" defer="" src="https://www.googleoptimize.com/optimize.js?id=GTM-W3CD992">
  </script>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
  <link href="/favicon.ico" rel="shortcut icon"/>
  <link href="/OpensearchDescription.xml" rel="search" type="applica

## Finding the right key to scrap the data & Extracting the right information

Find the key and put the key into the `.find()` Put all the exploring the right key at this cell. (please change this markdown with your explanation)

In [8]:
#memasukan tbody untuk memasukkan tabel yang ada pada web yang berada pada link dengan cara inspect tabel
table = soup.find('tbody')
print(table.prettify()[1:500])

tbody>
 <tr>
  <th class="font-semibold text-center" scope="row">
   2022-12-30
  </th>
  <td class="text-center">
   $144,831,301,452
  </td>
  <td class="text-center">
   $4,174,715,684
  </td>
  <td class="text-center">
   $1,201.54
  </td>
  <td class="text-center">
   N/A
  </td>
 </tr>
 <tr>
  <th class="font-semibold text-center" scope="row">
   2022-12-29
  </th>
  <td class="text-center">
   $143,241,827,137
  </td>
  <td class="text-center">
   $5,177,421,363
  </td>
  <td class="text

In [25]:
#mengecek keseluruhan tabel berdasarkan date
table.find_all('th', attrs={'class':'font-semibold text-center','scope':'row'}=='2022-12-30')[:5]

[<th class="font-semibold text-center" scope="row">2022-12-30</th>,
 <th class="font-semibold text-center" scope="row">2022-12-29</th>,
 <th class="font-semibold text-center" scope="row">2022-12-28</th>,
 <th class="font-semibold text-center" scope="row">2022-12-27</th>,
 <th class="font-semibold text-center" scope="row">2022-12-26</th>]

In [24]:
#mengecek apakah keseluruhan tabel 2022-12-30 sudah benar
table.find_all('th', attrs={'class':'font-semibold text-center','scope':'row'}=='2022-12-30')[0].text

'2022-12-30'

Finding row length.

In [26]:
#mengetahui panang row berdasarkan date
row = table.find_all('th', attrs={'class':'font-semibold text-center','scope':'row'}=='2022-12-30')
row_length = len(row)
row_length

60

In [13]:
#mengecek keseluruhan tabel tr
rows = table.find_all('tr')

In [14]:
rows

[<tr>
 <th class="font-semibold text-center" scope="row">2022-12-30</th>
 <td class="text-center">
 $144,831,301,452
 </td>
 <td class="text-center">
 $4,174,715,684
 </td>
 <td class="text-center">
 $1,201.54
 </td>
 <td class="text-center">
 N/A
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-29</th>
 <td class="text-center">
 $143,241,827,137
 </td>
 <td class="text-center">
 $5,177,421,363
 </td>
 <td class="text-center">
 $1,188.73
 </td>
 <td class="text-center">
 $1,201.54
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-28</th>
 <td class="text-center">
 $146,030,514,727
 </td>
 <td class="text-center">
 $4,221,450,707
 </td>
 <td class="text-center">
 $1,211.82
 </td>
 <td class="text-center">
 $1,188.73
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-27</th>
 <td class="text-center">
 $147,697,269,148
 </td>
 <td class="text-center">
 $3,071,221,734
 </td>
 <td class="text-center">
 $1,226.25
 </td>
 <td class="text-center">
 $1,211.82
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-26</th>
 <td class="text-center">
 $146,840,669,269
 </td>
 <td class="text-center">
 $3,694,243,213
 </td>
 <td class="text-center">
 $1,219.29
 </td>
 <td class="text-center">
 $1,226.25
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-25</th>
 <td class="text-center">
 $147,173,116,812
 </td>
 <td class="text-center">
 $2,443,348,024
 </td>
 <td class="text-center">
 $1,221.36
 </td>
 <td class="text-center">
 $1,219.29
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-24</th>
 <td class="text-center">
 $147,069,822,796
 </td>
 <td class="text-center">
 $4,777,025,972
 </td>
 <td class="text-center">
 $1,220.70
 </td>
 <td class="text-center">
 $1,221.36
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-23</th>
 <td class="text-center">
 $146,741,009,624
 </td>
 <td class="text-center">
 $5,190,165,002
 </td>
 <td class="text-center">
 $1,217.85
 </td>
 <td class="text-center">
 $1,220.70
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-22</th>
 <td class="text-center">
 $146,039,250,786
 </td>
 <td class="text-center">
 $4,086,534,541
 </td>
 <td class="text-center">
 $1,213.34
 </td>
 <td class="text-center">
 $1,217.85
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-21</th>
 <td class="text-center">
 $146,802,833,364
 </td>
 <td class="text-center">
 $6,463,130,154
 </td>
 <td class="text-center">
 $1,217.89
 </td>
 <td class="text-center">
 $1,213.34
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-20</th>
 <td class="text-center">
 $140,848,456,817
 </td>
 <td class="text-center">
 $4,281,620,920
 </td>
 <td class="text-center">
 $1,166.99
 </td>
 <td class="text-center">
 $1,217.89
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-19</th>
 <td class="text-center">
 $143,142,028,259
 </td>
 <td class="text-center">
 $3,175,705,524
 </td>
 <td class="text-center">
 $1,186.78
 </td>
 <td class="text-center">
 $1,166.99
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-18</th>
 <td class="text-center">
 $143,321,475,846
 </td>
 <td class="text-center">
 $4,893,469,369
 </td>
 <td class="text-center">
 $1,189.43
 </td>
 <td class="text-center">
 $1,186.78
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-17</th>
 <td class="text-center">
 $140,289,330,990
 </td>
 <td class="text-center">
 $9,306,680,538
 </td>
 <td class="text-center">
 $1,165.97
 </td>
 <td class="text-center">
 $1,189.43
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-16</th>
 <td class="text-center">
 $152,444,818,383
 </td>
 <td class="text-center">
 $6,014,960,880
 </td>
 <td class="text-center">
 $1,263.75
 </td>
 <td class="text-center">
 $1,165.97
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-15</th>
 <td class="text-center">
 $157,633,274,799
 </td>
 <td class="text-center">
 $8,063,349,707
 </td>
 <td class="text-center">
 $1,308.40
 </td>
 <td class="text-center">
 $1,263.75
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-14</th>
 <td class="text-center">
 $159,205,793,114
 </td>
 <td class="text-center">
 $8,667,920,251
 </td>
 <td class="text-center">
 $1,319.41
 </td>
 <td class="text-center">
 $1,308.40
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-13</th>
 <td class="text-center">
 $153,743,004,467
 </td>
 <td class="text-center">
 $5,107,100,672
 </td>
 <td class="text-center">
 $1,275.33
 </td>
 <td class="text-center">
 $1,319.41
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-12</th>
 <td class="text-center">
 $152,290,250,845
 </td>
 <td class="text-center">
 $3,179,021,750
 </td>
 <td class="text-center">
 $1,264.32
 </td>
 <td class="text-center">
 $1,275.33
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-11</th>
 <td class="text-center">
 $152,480,155,389
 </td>
 <td class="text-center">
 $3,136,321,665
 </td>
 <td class="text-center">
 $1,264.79
 </td>
 <td class="text-center">
 $1,264.32
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-10</th>
 <td class="text-center">
 $152,405,570,527
 </td>
 <td class="text-center">
 $5,743,935,111
 </td>
 <td class="text-center">
 $1,264.48
 </td>
 <td class="text-center">
 $1,264.79
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-09</th>
 <td class="text-center">
 $154,438,830,700
 </td>
 <td class="text-center">
 $5,929,103,713
 </td>
 <td class="text-center">
 $1,281.21
 </td>
 <td class="text-center">
 $1,264.48
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-08</th>
 <td class="text-center">
 $148,778,387,853
 </td>
 <td class="text-center">
 $5,392,077,793
 </td>
 <td class="text-center">
 $1,233.63
 </td>
 <td class="text-center">
 $1,281.21
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-07</th>
 <td class="text-center">
 $153,112,232,021
 </td>
 <td class="text-center">
 $4,765,089,563
 </td>
 <td class="text-center">
 $1,271.94
 </td>
 <td class="text-center">
 $1,233.63
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-06</th>
 <td class="text-center">
 $151,960,138,516
 </td>
 <td class="text-center">
 $5,795,682,745
 </td>
 <td class="text-center">
 $1,259.76
 </td>
 <td class="text-center">
 $1,271.94
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-05</th>
 <td class="text-center">
 $154,484,879,835
 </td>
 <td class="text-center">
 $4,842,789,176
 </td>
 <td class="text-center">
 $1,282.42
 </td>
 <td class="text-center">
 $1,259.76
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-04</th>
 <td class="text-center">
 $150,322,759,023
 </td>
 <td class="text-center">
 $5,183,647,936
 </td>
 <td class="text-center">
 $1,243.04
 </td>
 <td class="text-center">
 $1,282.42
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-03</th>
 <td class="text-center">
 $155,766,037,023
 </td>
 <td class="text-center">
 $5,644,934,957
 </td>
 <td class="text-center">
 $1,293.95
 </td>
 <td class="text-center">
 $1,243.04
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-02</th>
 <td class="text-center">
 $153,787,135,287
 </td>
 <td class="text-center">
 $6,400,063,074
 </td>
 <td class="text-center">
 $1,276.64
 </td>
 <td class="text-center">
 $1,293.95
  </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-12-01</th>
 <td class="text-center">
 $156,777,674,228
 </td>
 <td class="text-center">
 $9,889,408,118
 </td>
 <td class="text-center">
 $1,298.94
 </td>
 <td class="text-center">
 $1,276.64
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-30</th>
 <td class="text-center">
 $146,749,281,623
 </td>
 <td class="text-center">
 $7,132,972,094
 </td>
 <td class="text-center">
 $1,216.94
 </td>
 <td class="text-center">
 $1,298.94
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-29</th>
 <td class="text-center">
 $141,048,501,905
 </td>
 <td class="text-center">
 $6,467,273,324
 </td>
 <td class="text-center">
 $1,170.12
 </td>
 <td class="text-center">
 $1,216.94
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-28</th>
 <td class="text-center">
 $144,507,830,173
 </td>
 <td class="text-center">
 $4,150,923,882
 </td>
 <td class="text-center">
 $1,196.20
 </td>
 <td class="text-center">
 $1,170.12
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-27</th>
 <td class="text-center">
 $145,222,050,633
 </td>
 <td class="text-center">
 $5,271,100,860
 </td>
 <td class="text-center">
 $1,205.66
 </td>
 <td class="text-center">
 $1,196.20
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-26</th>
 <td class="text-center">
 $144,810,246,845
 </td>
 <td class="text-center">
 $5,823,202,533
 </td>
 <td class="text-center">
 $1,198.98
 </td>
 <td class="text-center">
 $1,205.66
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-25</th>
 <td class="text-center">
 $145,091,739,838
 </td>
 <td class="text-center">
 $6,955,523,718
 </td>
 <td class="text-center">
 $1,204.21
 </td>
 <td class="text-center">
 $1,198.98
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-24</th>
 <td class="text-center">
 $142,854,533,238
 </td>
 <td class="text-center">
 $9,189,536,304
 </td>
 <td class="text-center">
 $1,184.46
 </td>
 <td class="text-center">
 $1,204.21
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-23</th>
 <td class="text-center">
 $137,050,514,642
 </td>
 <td class="text-center">
 $9,220,536,959
 </td>
 <td class="text-center">
 $1,135.18
 </td>
 <td class="text-center">
 $1,184.46
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-22</th>
 <td class="text-center">
  $133,733,639,794
 </td>
 <td class="text-center">
 $10,372,965,081
 </td>
 <td class="text-center">
 $1,110.29
 </td>
 <td class="text-center">
 $1,135.18
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-21</th>
 <td class="text-center">
 $137,964,810,713
 </td>
 <td class="text-center">
 $6,826,180,056
 </td>
 <td class="text-center">
 $1,144.25
 </td>
 <td class="text-center">
 $1,110.29
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-20</th>
 <td class="text-center">
 $146,971,097,132
 </td>
 <td class="text-center">
 $3,722,348,151
 </td>
 <td class="text-center">
 $1,218.89
 </td>
 <td class="text-center">
 $1,144.25
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-19</th>
 <td class="text-center">
 $146,145,817,587
 </td>
 <td class="text-center">
 $5,600,678,513
 </td>
 <td class="text-center">
 $1,213.50
 </td>
 <td class="text-center">
 $1,218.89
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-18</th>
 <td class="text-center">
 $144,894,942,760
 </td>
 <td class="text-center">
 $7,075,882,102
 </td>
 <td class="text-center">
 $1,201.79
 </td>
 <td class="text-center">
 $1,213.50
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-17</th>
 <td class="text-center">
 $146,462,319,554
 </td>
 <td class="text-center">
 $8,870,530,650
 </td>
 <td class="text-center">
 $1,217.70
 </td>
 <td class="text-center">
 $1,201.79
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-16</th>
 <td class="text-center">
 $151,062,413,578
 </td>
 <td class="text-center">
 $8,940,477,028
 </td>
 <td class="text-center">
 $1,252.71
 </td>
 <td class="text-center">
 $1,217.70
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-15</th>
 <td class="text-center">
 $149,987,178,583
 </td>
 <td class="text-center">
 $12,056,844,340
 </td>
 <td class="text-center">
 $1,242.00
 </td>
 <td class="text-center">
 $1,252.71
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-14</th>
 <td class="text-center">
 $147,426,038,252
 </td>
 <td class="text-center">
 $7,719,000,328
 </td>
 <td class="text-center">
 $1,223.01
 </td>
 <td class="text-center">
 $1,242.00
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-13</th>
 <td class="text-center">
 $151,059,842,003
 </td>
 <td class="text-center">
 $8,636,739,780
 </td>
 <td class="text-center">
 $1,255.60
 </td>
 <td class="text-center">
 $1,223.01
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-12</th>
 <td class="text-center">
 $155,222,424,524
 </td>
 <td class="text-center">
 $17,355,612,789
 </td>
 <td class="text-center">
 $1,293.91
 </td>
 <td class="text-center">
 $1,255.60
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-11</th>
 <td class="text-center">
 $156,380,990,540
 </td>
 <td class="text-center">
 $24,039,423,467
 </td>
 <td class="text-center">
 $1,301.55
 </td>
 <td class="text-center">
 $1,293.91
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-10</th>
 <td class="text-center">
 $131,794,377,266
 </td>
 <td class="text-center">
 $29,253,284,763
 </td>
 <td class="text-center">
 $1,095.18
 </td>
 <td class="text-center">
 $1,301.55
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-09</th>
 <td class="text-center">
 $160,813,058,134
 </td>
 <td class="text-center">
 $32,343,101,743
 </td>
 <td class="text-center">
 $1,334.29
 </td>
 <td class="text-center">
 $1,095.18
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-08</th>
 <td class="text-center">
 $188,875,473,098
 </td>
 <td class="text-center">
 $30,344,896,842
 </td>
 <td class="text-center">
 $1,569.99
 </td>
 <td class="text-center">
 $1,334.29
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-07</th>
 <td class="text-center">
 $189,763,621,398
 </td>
 <td class="text-center">
 $22,195,586,346
 </td>
 <td class="text-center">
 $1,572.95
 </td>
 <td class="text-center">
 $1,569.99
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-06</th>
 <td class="text-center">
 $196,264,485,042
 </td>
 <td class="text-center">
 $21,174,006,976
 </td>
 <td class="text-center">
 $1,626.81
 </td>
 <td class="text-center">
 $1,572.95
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-05</th>
 <td class="text-center">
 $198,053,929,736
 </td>
 <td class="text-center">
 $36,953,923,775
 </td>
 <td class="text-center">
 $1,644.19
 </td>
 <td class="text-center">
 $1,626.81
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-04</th>
 <td class="text-center">
 $184,398,997,533
 </td>
 <td class="text-center">
 $22,537,458,294
 </td>
 <td class="text-center">
 $1,531.11
 </td>
 <td class="text-center">
 $1,644.19
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-03</th>
 <td class="text-center">
 $183,368,006,193
 </td>
 <td class="text-center">
 $27,498,708,818
 </td>
 <td class="text-center">
 $1,520.64
 </td>
 <td class="text-center">
 $1,531.11
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-02</th>
 <td class="text-center">
 $190,428,736,966
 </td>
 <td class="text-center">
 $19,199,900,507
 </td>
 <td class="text-center">
 $1,580.38
 </td>
 <td class="text-center">
 $1,520.64
 </td>
 </tr>,
 <tr>
 <th class="font-semibold text-center" scope="row">2022-11-01</th>
 <td class="text-center">
 $189,478,578,998
 </td>
 <td class="text-center">
 $14,900,137,160
 </td>
 <td class="text-center">
 $1,572.98
 </td>
 <td class="text-center">
 $1,580.38
 </td>
 </tr>]

Do the scrapping process here (please change this markdown with your explanation)

In [18]:
#untuk menloopin mencari data date, dan volume
temp = [] #initiating a tuple

for i in range(0, row_length):

    #scrapping process
     #get Date 
    Date_Ethereum = table.find_all('th', attrs={'scope':'row', 'class':'font-semibold text-center'}=='2022-12-30')[i].text
    
    #get volum
    Volum = table.find_all('td', attrs={'class':'text-center'}=='Volume')[i].text
    Volum = Volum.strip() #to remove excess white space
    
    #get marketCap
    MarketCap = table.find_all('td', attrs={'class':'text-center'}=='MarketCap')[i].text
    MarketCap = MarketCap.strip() #to remove excess white space
    
    temp.append((Date_Ethereum,Volum,MarketCap)) 
    
temp

[('2022-12-30', '$144,831,301,452', '$144,831,301,452'),
 ('2022-12-29', '$4,174,715,684', '$4,174,715,684'),
 ('2022-12-28', '$1,201.54', '$1,201.54'),
 ('2022-12-27', 'N/A', 'N/A'),
 ('2022-12-26', '$143,241,827,137', '$143,241,827,137'),
 ('2022-12-25', '$5,177,421,363', '$5,177,421,363'),
 ('2022-12-24', '$1,188.73', '$1,188.73'),
 ('2022-12-23', '$1,201.54', '$1,201.54'),
 ('2022-12-22', '$146,030,514,727', '$146,030,514,727'),
 ('2022-12-21', '$4,221,450,707', '$4,221,450,707'),
 ('2022-12-20', '$1,211.82', '$1,211.82'),
 ('2022-12-19', '$1,188.73', '$1,188.73'),
 ('2022-12-18', '$147,697,269,148', '$147,697,269,148'),
 ('2022-12-17', '$3,071,221,734', '$3,071,221,734'),
 ('2022-12-16', '$1,226.25', '$1,226.25'),
 ('2022-12-15', '$1,211.82', '$1,211.82'),
 ('2022-12-14', '$146,840,669,269', '$146,840,669,269'),
 ('2022-12-13', '$3,694,243,213', '$3,694,243,213'),
 ('2022-12-12', '$1,219.29', '$1,219.29'),
 ('2022-12-11', '$1,226.25', '$1,226.25'),
 ('2022-12-10', '$147,173,116,812', '$147,173,116,812'),
 ('2022-12-09', '$2,443,348,024', '$2,443,348,024'),
 ('2022-12-08', '$1,221.36', '$1,221.36'),
 ('2022-12-07', '$1,219.29', '$1,219.29'),
 ('2022-12-06', '$147,069,822,796', '$147,069,822,796'),
 ('2022-12-05', '$4,777,025,972', '$4,777,025,972'),
 ('2022-12-04', '$1,220.70', '$1,220.70'),
 ('2022-12-03', '$1,221.36', '$1,221.36'),
 ('2022-12-02', '$146,741,009,624', '$146,741,009,624'),
 ('2022-12-01', '$5,190,165,002', '$5,190,165,002'),
 ('2022-11-30', '$1,217.85', '$1,217.85'),
 ('2022-11-29', '$1,220.70', '$1,220.70'),
 ('2022-11-28', '$146,039,250,786', '$146,039,250,786'),
 ('2022-11-27', '$4,086,534,541', '$4,086,534,541'),
 ('2022-11-26', '$1,213.34', '$1,213.34'),
 ('2022-11-25', '$1,217.85', '$1,217.85'),
 ('2022-11-24', '$146,802,833,364', '$146,802,833,364'),
 ('2022-11-23', '$6,463,130,154', '$6,463,130,154'),
 ('2022-11-22', '$1,217.89', '$1,217.89'),
 ('2022-11-21', '$1,213.34', '$1,213.34'),
 ('2022-11-20', '$140,848,456,817', '$140,848,456,817'),
 ('2022-11-19', '$4,281,620,920', '$4,281,620,920'),
 ('2022-11-18', '$1,166.99', '$1,166.99'),
 ('2022-11-17', '$1,217.89', '$1,217.89'),
 ('2022-11-16', '$143,142,028,259', '$143,142,028,259'),
 ('2022-11-15', '$3,175,705,524', '$3,175,705,524'),
 ('2022-11-14', '$1,186.78', '$1,186.78'),
 ('2022-11-13', '$1,166.99', '$1,166.99'),
 ('2022-11-12', '$143,321,475,846', '$143,321,475,846'),
 ('2022-11-11', '$4,893,469,369', '$4,893,469,369'),
 ('2022-11-10', '$1,189.43', '$1,189.43'),
 ('2022-11-09', '$1,186.78', '$1,186.78'),
 ('2022-11-08', '$140,289,330,990', '$140,289,330,990'),
 ('2022-11-07', '$9,306,680,538', '$9,306,680,538'),
 ('2022-11-06', '$1,165.97', '$1,165.97'),
 ('2022-11-05', '$1,189.43', '$1,189.43'),
 ('2022-11-04', '$152,444,818,383', '$152,444,818,383'),
 ('2022-11-03', '$6,014,960,880', '$6,014,960,880'),
 ('2022-11-02', '$1,263.75', '$1,263.75'),
 ('2022-11-01', '$1,165.97', '$1,165.97')]

In [16]:
#untuk menloopin mencari data date, dan volume percobaan ke 2 agar dapat menampilkan nilai volume
temp = [] #initiating a tuple

for i in range(0, row_length):

    #scrapping process
     #get Date 
    Date_Ethereum = table.find_all('th', attrs={'scope':'colum', 'class':'font-semibold text-center'}=='2022-12-30')[i].text
    
    #get volum
    Volum = table.find_all('td', attrs={'class':'text-center'}=='$4,174,715,684')[i].text
    Volum = Volum.strip() #to remove excess white space
    
    #get marketcap
    MarketCap = table.find_all('td', attrs={'class':'text-center'}=='$144,831,301,452')[i].text
    MarketCap = MarketCap.strip() #to remove excess white space
    
    temp.append((Date_Ethereum,Volum,MarketCap)) 
    
temp

[('2022-12-30', '$144,831,301,452', '$144,831,301,452'),
 ('2022-12-29', '$4,174,715,684', '$4,174,715,684'),
 ('2022-12-28', '$1,201.54', '$1,201.54'),
 ('2022-12-27', 'N/A', 'N/A'),
 ('2022-12-26', '$143,241,827,137', '$143,241,827,137'),
 ('2022-12-25', '$5,177,421,363', '$5,177,421,363'),
 ('2022-12-24', '$1,188.73', '$1,188.73'),
 ('2022-12-23', '$1,201.54', '$1,201.54'),
 ('2022-12-22', '$146,030,514,727', '$146,030,514,727'),
 ('2022-12-21', '$4,221,450,707', '$4,221,450,707'),
 ('2022-12-20', '$1,211.82', '$1,211.82'),
 ('2022-12-19', '$1,188.73', '$1,188.73'),
 ('2022-12-18', '$147,697,269,148', '$147,697,269,148'),
 ('2022-12-17', '$3,071,221,734', '$3,071,221,734'),
 ('2022-12-16', '$1,226.25', '$1,226.25'),
 ('2022-12-15', '$1,211.82', '$1,211.82'),
 ('2022-12-14', '$146,840,669,269', '$146,840,669,269'),
 ('2022-12-13', '$3,694,243,213', '$3,694,243,213'),
 ('2022-12-12', '$1,219.29', '$1,219.29'),
 ('2022-12-11', '$1,226.25', '$1,226.25'),
 ('2022-12-10', '$147,173,116,812', '$147,173,116,812'),
 ('2022-12-09', '$2,443,348,024', '$2,443,348,024'),
 ('2022-12-08', '$1,221.36', '$1,221.36'),
 ('2022-12-07', '$1,219.29', '$1,219.29'),
 ('2022-12-06', '$147,069,822,796', '$147,069,822,796'),
 ('2022-12-05', '$4,777,025,972', '$4,777,025,972'),
 ('2022-12-04', '$1,220.70', '$1,220.70'),
 ('2022-12-03', '$1,221.36', '$1,221.36'),
 ('2022-12-02', '$146,741,009,624', '$146,741,009,624'),
 ('2022-12-01', '$5,190,165,002', '$5,190,165,002'),
 ('2022-11-30', '$1,217.85', '$1,217.85'),
 ('2022-11-29', '$1,220.70', '$1,220.70'),
 ('2022-11-28', '$146,039,250,786', '$146,039,250,786'),
 ('2022-11-27', '$4,086,534,541', '$4,086,534,541'),
 ('2022-11-26', '$1,213.34', '$1,213.34'),
 ('2022-11-25', '$1,217.85', '$1,217.85'),
 ('2022-11-24', '$146,802,833,364', '$146,802,833,364'),
 ('2022-11-23', '$6,463,130,154', '$6,463,130,154'),
 ('2022-11-22', '$1,217.89', '$1,217.89'),
 ('2022-11-21', '$1,213.34', '$1,213.34'),
 ('2022-11-20', '$140,848,456,817', '$140,848,456,817'),
 ('2022-11-19', '$4,281,620,920', '$4,281,620,920'),
 ('2022-11-18', '$1,166.99', '$1,166.99'),
 ('2022-11-17', '$1,217.89', '$1,217.89'),
 ('2022-11-16', '$143,142,028,259', '$143,142,028,259'),
 ('2022-11-15', '$3,175,705,524', '$3,175,705,524'),
 ('2022-11-14', '$1,186.78', '$1,186.78'),
 ('2022-11-13', '$1,166.99', '$1,166.99'),
 ('2022-11-12', '$143,321,475,846', '$143,321,475,846'),
 ('2022-11-11', '$4,893,469,369', '$4,893,469,369'),
 ('2022-11-10', '$1,189.43', '$1,189.43'),
 ('2022-11-09', '$1,186.78', '$1,186.78'),
 ('2022-11-08', '$140,289,330,990', '$140,289,330,990'),
 ('2022-11-07', '$9,306,680,538', '$9,306,680,538'),
 ('2022-11-06', '$1,165.97', '$1,165.97'),
 ('2022-11-05', '$1,189.43', '$1,189.43'),
 ('2022-11-04', '$152,444,818,383', '$152,444,818,383'),
 ('2022-11-03', '$6,014,960,880', '$6,014,960,880'),
 ('2022-11-02', '$1,263.75', '$1,263.75'),
 ('2022-11-01', '$1,165.97', '$1,165.97')]

In [19]:
#merapihkan berisan hasil looping
temp = temp[::-1]
temp[:11]

[('2022-11-01', '$1,165.97', '$1,165.97'),
 ('2022-11-02', '$1,263.75', '$1,263.75'),
 ('2022-11-03', '$6,014,960,880', '$6,014,960,880'),
 ('2022-11-04', '$152,444,818,383', '$152,444,818,383'),
 ('2022-11-05', '$1,189.43', '$1,189.43'),
 ('2022-11-06', '$1,165.97', '$1,165.97'),
 ('2022-11-07', '$9,306,680,538', '$9,306,680,538'),
 ('2022-11-08', '$140,289,330,990', '$140,289,330,990'),
 ('2022-11-09', '$1,186.78', '$1,186.78'),
 ('2022-11-10', '$1,189.43', '$1,189.43'),
 ('2022-11-11', '$4,893,469,369', '$4,893,469,369')]

## Creating data frame & Data wrangling

Put the array into dataframe

In [20]:
#melihat tabel data frame date, volume dan MarketCap
import pandas as pd

df = pd.DataFrame(temp, columns = ('Date_Ethereum','Volum','MarketCap'))
df.head()

  Date_Ethereum             Volum         MarketCap
0    2022-11-01         $1,165.97         $1,165.97
1    2022-11-02         $1,263.75         $1,263.75
2    2022-11-03    $6,014,960,880    $6,014,960,880
3    2022-11-04  $152,444,818,383  $152,444,818,383
4    2022-11-05         $1,189.43         $1,189.43

Do the data cleaning here (please change this markdown with your explanation of what you do for data wrangling)

In [21]:
#melihat tipe data
df.dtypes

Date_Ethereum    object
Volum            object
MarketCap        object
dtype: object

In [52]:
#mengecek tipe data volum
df = pd.DataFrame({'Volum': ['$1,165.97', '$1,263.75', '$6,014,960,880', '$152,444,818,383', '$1,189.43']})

df.dtypes

Volum    object
dtype: object

In [58]:
#karena ketika dicoba saat mengubah tipe data volum object ke float mengalami error akhirnya saya mencoba untuk mengubah semua tipe data obect ke float
df = df.apply(pd.to_numeric, errors='coerce')

In [59]:
df.dtypes

Volum    float64
dtype: object

In [60]:
#mengubah tipe data date yang tadinya float ke object
import pandas as pd

# Membuat dataframe dengan tipe data float64
df = pd.DataFrame({'Date_Ethereum': ['2022-11-01', '2022-11-02', '2022-11-03', '2022-11-04']})

# Menampilkan tipe data masing-masing kolom
print(df.dtypes)

# Mengubah tipe data float64 ke object (string)
df['Date_Ethereum'] = df['Date_Ethereum'].astype(str)

# Menampilkan tipe data masing-masing kolom setelah diubah
print(df.dtypes)

Date_Ethereum    object
dtype: object
Date_Ethereum    object
dtype: object

Data visualisation (please change this markdown with your explanation of what you do for data wrangling)

In [47]:
#mencoba kembali mengubah tipe data sesuai intruksi yang berada di video akan tetapi mengalami error
df['Volum'] = df['Volum'].str.replace(",",".")
df['Volum'] = df['Volum'].astype('float64')
df['MarketCap'] = df['MarketCap'].str.replace(",",".")
df['MarketCap'] = df['MarketCap'].astype('float64')
df['Date_Ethereum'] = df['Date_Ethereum'].astype('datetime64')

df.dtypes

KeyError: 'Volum'

### Implementing your webscrapping to the flask dashboard

- Copy paste all of your web scrapping process to the desired position on the `app.py`
- Changing the title of the dasboard at `index.html`

## Finishing This Notebook with Your Analysis and Conclusion

First you can do start with making the data visualisation.

In [50]:
#menadikan date menadi index
df = df.set_index('Date_Ethereum')


(Put your analysis and conclusion here.)

In [61]:
#menampilkan grafik plot wab scraping
df.plot

### Extra Challange

This will be not included to the scoring. 

- You can create additional analysis from the data.
- Implement it to the dashboard with at `app.py` dan `index.html`.